.navbar-custom {
    background: #78c2ad;
}

.border-custom {
    border-color: #78c2ad !important;
}

.btn {
    background:#f3969a !important;
}

#chat-box {
    border: 2px solid #78c2ad;
    width: 50%;
    height: 50%;
    border-radius:10px;
    overflow: scroll;
}

input[type=text] {
    padding:6px;
    margin:10px 0;
    border-radius:10px;
}