{% extends 'chat_app/layout.html' %} 

{% block body %}
<p>{{ know_lang }}, {{ learning_lang }}</p>
<div class="chat container">
    <!-- {% for message in messages %}
        <div class="message">
            <p><span class="message-username">message.username: </span><span class="message-content">message.content</span></p>
        </div>
    {% endfor %} -->
        <div id="chat-box"></div>
        <form action="" id="message-form">
            <input type="text" name="message" placeholder="Type message here.">
        </form>
</div>

{{ room_name|json_script:"room-name" }}
<script type="text/javascript">
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    let url = `ws://${window.location.host}/ws/socket-server/${roomName}/`;
    const chatSocket = new WebSocket(url);
    chatSocket.onmessage = (event) => {
        let data = JSON.parse(event.data);
        console.log('Data:', data);

        if(data.type === 'chat'){
            let messages = document.getElementById('chat-box');
            messages.insertAdjacentHTML('beforeend', `<div>
                    <p>${data.message}</p>
                </div>`);
        }
    }
    let form = document.getElementById('message-form');
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        let message = event.target.message.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset();
    })
</script>
{% endblock %}
