{% extends 'chat_app/layout.html' %} 

{% block body %}
<span id="in-chat">In Chat: </span><span id="users"></span>
<div class="chat container">
    <!-- {% for message in messages %}
        <div class="message">
            <p><span class="message-username">message.username: </span><span class="message-content">message.content</span></p>
        </div>
    {% endfor %} -->
        <div id="chat-box" class="mx-auto mb-3 p-3" style="height: 500px;"></div>
        <div class="mx-auto" style="text-align: center;">
            <form action="" id="message-form">
                <input type="text" name="message" placeholder="Type message here.">
                <button type="submit" class="btn ms-1">Send</button>
            </form>
        </div>
</div>

{{ room_name|json_script:"room-name" }}
{{ username|json_script:"username"}}
<script type="text/javascript">
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    // let api_url = `http://${window.location.host}/api/users/${roomName}`
    // fetch(api_url)
    // .then(data => {
    //     return data.json();
    // })
    // .then(users => {
    //     if (users['fields']['user2']) {
    //         console.log("executed");
    //         document.getElementById('users').innerHTML = `${users['fields']['user1']}`;
    //     }
    //     else {
    //         document.getElementById('users').innerHTML = `${users['fields']['user1']}`;
    //     }
    // });
    // .then(users => {
    //     if (users.length === 1) {
    //         document.getElementById('users').innerHTML = users[0].username;
    //     }
    //     else {
    //         document.getElementById('users').innerHTML = `${users[0].username}, ${users[1].username}`;
    //     }
    // });
    const username = JSON.parse(document.getElementById('username').textContent);
    let url = `ws://${window.location.host}/ws/socket-server/${roomName}/`;
    const chatSocket = new WebSocket(url);
    chatSocket.onmessage = (event) => {
        let data = JSON.parse(event.data);
        console.log('Data:', data);
        if(data.type === 'chat' || data.type === 'indiv_message'){
            const message_username = data.message_username
            if(message_username === username){
                let messages = document.getElementById('chat-box');
                messages.insertAdjacentHTML('beforeend', `<div>
                    <p><span style="color: red;">${message_username}: </span>${data.message}</p>
                </div>`);
            }
            else{
                let messages = document.getElementById('chat-box');
                messages.insertAdjacentHTML('beforeend', `<div>
                    <p><span style="color: blue;">${message_username}: </span>${data.message}</p>
                </div>`);
            }
        }
        else if(data.type === 'connection'){
            const message_username = data.message_username;
            const message_user_id = data.message_user_id;

            if(message_username === username){
                let messages = document.getElementById('chat-box');
                messages.insertAdjacentHTML('beforeend', `<div>
                    <p><span style="color: red;">${message_username}: </span>${data.message}</p>
                </div>`);
            }
            else{
                chatSocket.send(JSON.stringify({
                    'message': `you have been matched with ${username}!`,
                    'username': username,
                    'message_username': message_username,
                    'message_user_id': message_user_id,
                    'type': 'indiv_message',
                }))
                let messages = document.getElementById('chat-box');
                messages.insertAdjacentHTML('beforeend', `<div>
                    <p><span style="color: blue;">${message_username}: </span>${data.message}</p>
                </div>`);
            }
            document.getElementById('users').insertAdjacentHTML('beforeend', `<span>${message_username}</span>`);
        }
    }
    let form = document.getElementById('message-form');
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        let message = event.target.message.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'message_username': username
        }))
        form.reset();
    })

    const body = document.querySelector('body');
    body.onbeforeunload = () => {
        chatSocket.close();
    }

</script>
{% endblock %}
